<app-layout>
  <div class="container">
    <div class="paper-note">
      <p class="paper-note__line">
        <a class=" paper-note__link" [routerLink]="'fractal'">Koch curve</a>
      </p>
      <p class="paper-note__line">
        <a class="paper-note__link" [routerLink]="'diamond-square'">Diamond-square algorithm</a>
      </p>
      <p class="paper-note__line">
        <a class="paper-note__link" [routerLink]="'hex-map'">Hexagonal map</a>
      </p>
    </div>
  </div>
</app-layout>
