@import "../../styles/shared";

.led-screen {
  padding: 15px;
  background-color: lighten($c-background, 5);
  box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 2px 0,
  rgba(0, 0, 0, 0.5) 0 0 1px 1px;

  &__line {
    display: flex;

    margin-bottom: 15px;


    &:last-child {
      margin-bottom: 0;
    }
  }

  &__led {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}
