<div class="led-screen">
    <div *ngFor="let line of field; let y = index; trackBy: trackLines"
         class="led-screen__line">
        <div *ngFor="let led of line; trackBy: trackItems(y)"
             [class.inactive]="!led?.on"
             [ngClass]="'led--' + led?.color || 'yellow'"
             class="led-screen__led led">
        </div>
    </div>
</div>
