<div class="channel-list paper-note">
    <div *ngFor="let channel of channels" class="paper-note__line">
        <div
            (click)="onChannelChange.emit(channel)"
            [class.paper-note__link]="channel !== activeChannel"
            class="channel-list__item">
            {{ channel }}
            <span *ngIf="channel === activeChannel">
                <
            </span>
        </div>
    </div>
</div>
