<app-layout>
    <div class="snake">
        <div class="snake__score paper-note">
            <p class="paper-note__link">
                {{ score }}
            </p>
        </div>
        <app-led-screen
            [height]="settings.field[0]"
            [lights]="lights"
            [width]="settings.field[1]"
            class="snake__field">
        </app-led-screen>
    </div>
</app-layout>
