@import "../../styles/shared";

.snake {
  @include container();
  display: flex;
  align-items: flex-start;

  &__score {
    flex-basis: 140px;
  }

  &__field {
    margin: 0 20px;
    position: relative;
  }

  &__led {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
  }
}
