<app-layout>
  <div class="fractal-example">
    <div class="paper-note fractal-example__description">
      <p class="paper-note__line">
        Koch curve
      </p>
    </div>
    <canvas class="canvas" #workbench></canvas>
  </div>
</app-layout>
