@import "../shared";

$c-border-invalid: #ff8800;

.form {

  &__button {
    @include simple-button();
  }
}

.form-control {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  position: relative;

  &__description {
    font-size: 18px;
    flex-basis: 150px;
    color: $c-ui-text
  }

  &__input {
    @include input-field();

    flex-grow: 1;
    flex-basis: 150px;

    &--wide {
      width: 100%;
    }

    &.ng-invalid.ng-dirty {
      border-left-color: $c-border-invalid;
      border-bottom-color: $c-border-invalid;
    }
  }
}
