@import "../shared";

.glow-button {
  @include glow-button();
}

.glow-button--orange {
  @include glow-button(#ff8800);
}

.glow-button--yellow {
  @include glow-button(#ffff00);
}

.glow-button--green {
  @include glow-button(#00ff00);
}

.glow-button--blue {
  @include glow-button(#0000ff);
}

.glow-button--wide {
  text-align: center;
  width: 100%;
}

.glow-button--round {
  text-align: center;
  width: 31px;
  height: 31px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 15px;
}

