@import "../shared";

.led {
  @include led();


  &--orange {
    @include led(#ff8800);
  }

  &--yellow {
    @include led(#ffff00);
  }

  &--green {
    @include led(#00ff00);
  }

  &--blue {
    @include led(#0000ff);
  }
}
