$c-ink: #10111a;
$c-paper: #fffde4;
$c-blue-ink: #0f113e;

.paper-note {
  padding: 10px 10px 5px;
  background-color: $c-paper;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 5px;
  font-size: 18px;

  &__line {
    display: block;
    margin-bottom: 5px;
    color: $c-ink;
  }

  b {
    font-weight: bold;
  }

  &__line-break {
    display: block;
    width: 100%;
    border-bottom: 2px dashed $c-ink;
    margin-bottom: 5px;
  }

  &__link {
    cursor: pointer;
    color: $c-blue-ink;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      border-bottom: 2px dashed;
      margin-bottom: -2px;
    }
  }
}

