<form (ngSubmit)="submit()" [formGroup]="credentialsForm" class="form">
    <label class="form-control">
        <span class="form-control__description">
            Name:
        </span>
        <input
            [formControlName]="'name'"
            class="form-control__input"
            placeholder="name"
            type="text">
    </label>
    <label class="form-control">
        <span class="form-control__description">
            Login:
        </span>
        <input
            [formControlName]="'login'"
            class="form-control__input"
            placeholder="login"
            type="text">
    </label>
    <label class="form-control">
        <span class="form-control__description">
            Password:
        </span>
        <input
            [formControlName]="'password'"
            class="form-control__input"
            placeholder="password"
            type="password">
    </label>
    <button
        [disabled]="!credentialsForm.valid"
        class="form__button form__button--wide"
        type="submit">
        submit
    </button>
</form>

