<app-layout>
    <div class="container">
        <div class="paper-note">
            <p class="paper-note__line">
                Example of using
                <a class=" paper-note__link" [routerLink]="'fractal'">Diamond-square</a>
                algorithm to create natural-looking map of heights
            </p>
            <button class="button" (click)="rerollGrid()">Reroll</button>
        </div>
        <div class="map">
            <div class="map__line" *ngFor="let line of map">
                <div class="map__point"
                     *ngFor="let tile of line"
                     [style.opacity]="'0.' + tile">
                    <span>
                        {{ tile }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</app-layout>
