.map {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;

  &__line {
    display: flex;
  }

  &__point {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 18px;
    flex-grow: 1;
    height: 4vh;
    background-color: white;
  }
}


