@import "../../../styles/shared";

.nav-link {
  color: $c-ui-text;
  margin: 5px;
}

.greeting {
  color: $c-ui-text;
}

.logout {
  color: $c-ui-text;
  text-decoration: underline;
  cursor: pointer;
  margin: 5px;
}
