
<ng-container *ngIf="!(authService.currentUser$ | async)">
    <a class="nav-link" routerLink="/auth/login">
        Sign in
    </a>
    or
    <a class="nav-link" routerLink="/auth/register">
        Sign up
    </a>
</ng-container>
<ng-container
    *ngIf="authService.currentUser$ | async">
    <span class="greeting">
        Welcome, {{ (authService.currentUser$ | async).name }}
    </span>
    <span (click)="authService.logout()" class="logout">
        Log out
    </span>
</ng-container>
