<app-layout>
  <div class="hex-map">
    <div class="paper-note hex-map__description">
      <p class="paper-note__line">
        Hex map
      </p>
    </div>
    <canvas class="canvas" #workbench></canvas>
  </div>
</app-layout>
