<app-layout>
    <div class="home">
        <div class="home-section">
            <h2 class="home-section__title">
                Welcome!
            </h2>
            <div class="paper-note">
                <p class="paper-note__line">
                    Please, enjoy existing activities
                </p>
            </div>
        </div>
        <div class="home-section">
            <h2 class="home-section__title">
                Check out chat
            </h2>
            <div class="paper-note">
                <p class="paper-note__line">
                    We have a
                    <a class="paper-note__link" routerLink="/chat">
                        chat page
                    </a>
                </p>
                <p class="paper-note__line">
                    Pick a name and write a message
                </p>
            </div>
        </div>
        <div class="home-section">
            <h2 class="home-section__title">
                Check out mini-game
            </h2>
            <div class="paper-note">
                <p class="paper-note__line">
                    We have
                    <a class="paper-note__link" routerLink="/mini-games/snake">
                        "Snake"
                    </a>
                </p>
                <p class="paper-note__line">
                    Use keyboard arrows to control
                </p>
            </div>
        </div>
        <div class="home-section">
            <h2 class="home-section__title">
                Check out demo page
            </h2>
            <div class="paper-note">
                <p class="paper-note__line">
                    <a class=" paper-note__link" [routerLink]="'/demos/fractal'">Koch curve</a>
                </p>
                <p class="paper-note__line">
                    <a class="paper-note__link" [routerLink]="'/demos/diamond-square'">Diamond-square algorithm</a>
                </p>
                <p class="paper-note__line">
                    <a class="paper-note__link" [routerLink]="'/demos/hex-map'">Hexagonal map</a>
                </p>
            </div>
        </div>
        <div class="home-section">
            <h2 class="home-section__title">
                UI elements
            </h2>
            <div class="home-section__paragraph">
                <div class="paper-note">
                    <p class="paper-note__line">
                        Useless buttons
                    </p>
                </div>
            </div>
            <div class="home-section__paragraph">
                <div class="indicator">
                    <button
                        (click)="ledSwitchActive = !ledSwitchActive"
                        class="button">
                        switch
                    </button>
                    <div class="indicator__led">
                        <div [class.inactive]="!ledSwitchActive"
                             class="led"></div>
                    </div>
                    <div class="indicator__led">
                        <div [class.inactive]="ledSwitchActive"
                             class="led led--green"></div>
                    </div>
                </div>
            </div>
            <div class="home-section__paragraph">
                <div class="indicator">
                    <button
                        (click)="ledChangeActive = !ledChangeActive"
                        class="button">
                        change
                    </button>
                    <div class="indicator__led">
                        <div [class.led--green]="!ledChangeActive"
                             class="led"></div>
                    </div>
                </div>
            </div>
            <div class="home-section__paragraph">
                <button
                    (click)="glowButtonSwitchActive = !glowButtonSwitchActive"
                    [class.active]="glowButtonSwitchActive"
                    class="glow-button">
                    on/off
                </button>
            </div>
            <div class="home-section__paragraph">
                <button
                    (click)="glowButtonChangeActive = !glowButtonChangeActive"
                    [class.glow-button--green]="glowButtonChangeActive"
                    class="glow-button glow-button--round active">
                </button>
            </div>
        </div>
    </div>
</app-layout>
