@import "../styles/shared";

.home {
  @include container();
}

.home-section {
  margin-bottom: 20px;
  padding: 5px;

  &__title {
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
  }

  &__paragraph {
    margin-bottom: 15px;
  }
}

.indicator {
  display: flex;
  align-items: center;

  &__led {
    margin-left: 15px;
  }
}
