@import "../styles/shared";

.chat {
  @include container();

  display: flex;


  &__channel-list {
    flex-basis: 150px;
    margin-right: 20px;
  }

  &__current-channel {
    flex-basis: 400px;
    flex-grow: 1;
  }

  &__log {
    padding: 20px 0;
  }
}
