<app-layout>
    <div class="chat">
        <div class="chat__channel-list">
            <app-channel-list
                (onChannelChange)="connectToChannel($event)"
                [activeChannel]="channelName"
                [channels]="chatService.channelNames$ | async">
            </app-channel-list>
        </div>
        <div *ngIf="messages$" class="chat__current-channel">
            <label class="form-control">
                <span class="form-control__description">
                    Message:
                </span>
                <input
                    (keydown.enter)="send()"
                    [(ngModel)]="inputMessage"
                    class="form-control__input"
                    placeholder="Message"
                    type="text">
            </label>
            <button
                (click)="send()"
                [disabled]="!inputMessage"
                class="form__button">
                send
            </button>
            <div class="chat__log">
                <div class="paper-note">
                    <p *ngFor="let message of messages$ | async"
                       class="paper-note__line">
                        {{ message.date | date:'HH:mm' }}
                        <b *ngIf="message.sender !== 'system'">{{ message.sender }}:</b>
                        {{ message.message }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</app-layout>

