@import "../colors";

@mixin simple-button() {
  font-family: "Trebuchet MS", sans-serif;
  color: #000000;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  background: #aaaaaa;
  padding: 4px 12px 8px;
  border: none;
  cursor: pointer;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0px -1px 2px 1px,
  inset rgba(255, 255, 255, 0.3) 4px 4px 1px 0px,
  rgba(0, 0, 0, 0.5) 0px 0px 1px 2px;

  &:hover {
    box-shadow: inset rgba(0, 0, 0, 0.3) 0px -2px 2px 1px,
    inset rgba(255, 255, 255, 0.5) 4px 3px 1px 0px,
    rgba(0, 0, 0, 0.5) 0px 0px 1px 2px;
  }

  &:active {
    padding: 5px 12px 7px;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 1px 1px,
    rgba(0, 0, 0, 0.5) 0 0 1px 2px;
  }


  &:disabled {
    box-shadow: inset rgba(0, 0, 0, 0.5) 0 0 2px 0px,
    rgba(0, 0, 0, 0.5) 0 0 1px 1px;
    cursor: auto;
    background-color: #888888;
    color: #666666;
  }


  &:focus {
    outline: 0;
  }
}
