@import "../colors";


@mixin glow-button($c-main: red) {
  $g-outline: rgba(0, 0, 0, 0.3) 0 0 1px 2px;
  $g-glow: transparentize($c-main, 0.2) 0 0 20px 5px;
  $g-glare: inset rgba(255, 255, 255, 0.3) 2px 2px 1px 0;

  font-family: "Trebuchet MS", sans-serif;
  color: #000000;
  font-weight: bold;
  border-radius: 3px;
  font-size: 16px;
  background: darken($c-main, 30) radial-gradient(
      ellipse at center,
      transparent 0%,
      transparent 50%,
      transparentize(#000000, 0.8) 100%
  );
  padding: 4px 12px 8px;
  border: none;
  cursor: pointer;
  transition: 100ms;

  box-shadow: $g-outline,
  $g-glare,
  inset rgba(0, 0, 0, 0.5) 0 0 2px 2px;

  &.active {
    background: $c-main radial-gradient(
        ellipse at center,
        transparent 0%,
        transparent 50%,
        transparentize(#000000, 0.8) 100%
    );

    box-shadow: $g-outline,
    $g-glare,
    inset rgba(0, 0, 0, 0.5) 0 0 2px 2px,
    transparentize($c-main, 0.2) 0 0 20px 5px;
  }

  &:hover {
    box-shadow: $g-outline,
    inset rgba(255, 255, 255, 0.4) 2px 2px 1px 0,
    inset rgba(0, 0, 0, 0.5) 0 0 2px 2px;

    &.active {
      box-shadow: $g-outline,
      inset rgba(255, 255, 255, 0.4) 2px 2px 1px 0,
      inset rgba(0, 0, 0, 0.5) 0 0 2px 2px,
      $g-glow;
    }
  }

  &:active {
    padding-top: 5px;
    padding-bottom: 7px;

    box-shadow: $g-outline,
    inset rgba(255, 255, 255, 0.3) 1px 1px 5px,
    inset rgba(0, 0, 0, 0.5) 0 0 2px 2px;

    &.active {
      box-shadow: $g-outline,
      inset rgba(255, 255, 255, 0.3) 1px 1px 5px,
      inset rgba(0, 0, 0, 0.5) 0 0 2px 2px,
      $g-glow;
    }
  }

  &:disabled {
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 1px,
    inset rgba(255, 255, 255, 0.3) 2px 2px 5px,
    inset rgba(0, 0, 0, 0.5) 0 0 2px 2px;

    &.active {
      box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 1px,
      inset rgba(255, 255, 255, 0.3) 2px 2px 5px,
      inset rgba(0, 0, 0, 0.5) 0 0 2px 2px,
      $g-glow;
    }

    cursor: auto;
    background-color: #888888;
    color: #666666;
  }

  &:focus {
    outline: 0;
  }
}
