@import "../colors";

@mixin input-field() {
  font-family: "Courier New", monospace;
  background-color: $c-ui-text;
  color: $c-background;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  resize: none;
  margin-bottom: 5px;
  font-size: 18px;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0 1px 1px 0,
  rgba(0, 0, 0, 0.5) 0 0 1px 2px;


  &:hover {
    box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 1px 0,
    rgba(0, 0, 0, 0.5) 0 0 1px 2px;
  }

  &:focus {
    box-shadow: inset rgba(0, 0, 0, 0.5) 0 1px 1px 1px,
    rgba(0, 0, 0, 0.5) 0 0 1px 2px;
    outline: none;
  }

  &:disabled {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 1px 1px;
    cursor: auto;
    background-color: darken($c-ui-text, 20);
    color: lighten($c-background, 20);
  }
}


