@import "../colors";

@mixin led($c-main: red) {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: $c-main radial-gradient(
      ellipse at center,
      transparentize(#000000, 0.9) 0%,
      transparent 40%,
      transparent 50%,
      transparentize(#000000, 0.9) 100%
  );
  transition: 100ms;

  box-shadow: rgba(0, 0, 0, 0.3) 0 0 1px 1px,
  inset rgba(255, 255, 255, 0.4) 2px 2px 5px,
  transparentize($c-main, 0.2) 0 0 20px 5px;

  &.inactive {
    background: darken($c-main, 40) radial-gradient(
        ellipse at center,
        transparentize(#000000, 0.9) 0%,
        transparent 40%,
        transparent 50%,
        transparentize(#000000, 0.9) 100%
    );

    box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 2px,
    inset rgba(255, 255, 255, 0.4) 2px 2px 5px;
  }
}
