@import "../../styles/shared";

.layout {
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: $c-background;

  &__main {
    min-height: 100%;
    flex-grow: 1;
  }
}


.header {
  background-color: lighten($c-background, 10);
  color: $c-ui-text;
  display: flex;
  justify-content: space-between;

  &__start, &__end {
    padding: 10px;
  }

  &__nav-link {
    margin-left: 10px;
    color: $c-ui-text;
  }
}

.footer {
  background-color: lighten($c-background, 10);
  overflow: hidden;
  padding: 10px;
  text-align: center;

  &__nav {
    display: inline-block;
  }

  &__nav-link {
    margin-left: 10px;
    color: $c-ui-text;
  }
}
