<main class="layout">
    <header class="header">
        <div class="header__start">
            <a class="header__nav-link" routerLink="/home">Home</a>
            <a class="header__nav-link" routerLink="/chat">Chat</a>
        </div>
        <div class="header__end">
            <app-auth-header></app-auth-header>
        </div>
    </header>
    <main class="layout__main">
        <ng-content></ng-content>
    </main>
    <footer class="footer">
        <div class="footer__nav">
            <a class="footer__nav-link" routerLink="/home">Home</a>
            <a class="footer__nav-link" routerLink="/chat">Chat</a>
        </div>
        by VY
    </footer>
</main>
